* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 380px; height: 240px;
}

main {
  width: 100%; height: 100%;
  background: #f3f6f9;
}

#mainPage {
  width: 100%;
  padding: 12px 12px 12px 16px;
  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 32px auto 36px;
  gap: 32px;
}

#mainPage .header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

#mainPage .header .logo {
  height: 26px; width: fit-content;
}

#mainPage .header .nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2px;
}

#mainPage .header .nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px; height: 32px;
  
  background: none;
  border: none;
  border-radius: 4px;
  
  color: #001818;
  opacity: 0.8;
  
  transition: all 0.06s ease-in-out;
  cursor: pointer;
  
  &:hover { background: #00181820; opacity: 1; }
  &:active { transform: scale(0.9); }
}

#mainPage .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

#mainPage .content .status {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #31383a;
}